.sidebar {
    height: 90vh;
    width: 225px;
    font-family: Inter;
    border-right: 1px solid #DBDBDB;
    padding-right: 19px;

}

.sidebar__part1 ul {
    color: #787486;
    list-style: none;
    padding: 30px;
    margin: 0;
}
.sidebar__part1 li{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.horizontal-break{
    margin: 0 0 0 30px;
    height: 1px;
    width: 90%;
    background-color: #DBDBDB;
}


.sidebar__part2{
    margin-top: 20px;
}


.add--project{
    padding: 0 0 0 30px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add--project button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.add--project img{
    height: 16px;
    width: 16px;
}



.projects--list {
    list-style: none;
    margin-left: 20px;
    padding-left: 10px;
}

.projects--list li{
    height: 39px;
    color: #787486;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    color: #787486;
    font-size: 16px;
    font-weight: 500;
}
  
.projects--list li:hover{
    background-color: #5030E514;
    cursor: pointer;

    color: #0D062D;
    font-size: 16px;
    font-weight: 600;

}

  .list__style {
    font-size: 30px;
    padding-right: 10px;
  }
  .list__style.green{
    color: #7AC555;
  }
  
  .list__style.orange{
      color: #FFA500
  }

  .list__style.blue{
    color: #76A5EA
}

.list__element {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.writetext__container {
    margin: 80px 0 10px 19px;
    background: #F5F5F5;
    border-radius: 15px;
    width: 190px;
    padding-bottom: 10px;


}

.lamp__conainer {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(to top, #efefef, #f0e1bf);

    position: relative;
    top: -50px;
    left: 40px;

   
}

.lamp__conainer img {
    height: 50%;
    width: 50%;

}

.thoughtTime {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;

    margin: 10px 0;
}
.textDetail {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    color: #787486;
    text-align: center;
    font-size: 14px;
    font-family: Inter;
}

.writemessage--container {
    background-color: white;
    margin: 10px 0;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
    margin-left: 10px;
}

.writemessage--container input{
    color: black;
    border: none;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    outline: none;

    
}

.writemessage--container input::placeholder{
    color: black;
    font-weight: 700;
}